@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Fredoka:wght@300..700&family=Orbitron:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Dots&display=swap');
:root{
    --void:#212121;
    --dust:#414141;
    --ash:#eeeeee;
    --accent:#ffc107;
}
.main-text-font{
  font-family: "Fredoka", sans-serif;
}

.bg-void{
    background-color: #212121;
}
.bg-dust{
    background-color: #414141;
}
.bg-ash{
    background-color: #eeeeee;
}


.text-void{
    color: #212121;
}
.text-dust{
    color: #414141;
}
.text-ash{
    color: #eeeeee;
}

.btn-dust{
  background-color: var(--dust);
  color: var(--ash);
}
.btn-dust:hover{
  background-color: var(--void);
  color: var(--ash);
}


.image{
  transition: transform 0.5s ease;
}

.p1:hover {
  transform: translateY(-8%);
}

.p2:hover {
  transform: translateY(-8%);
}

.p3:hover {
  transform: translateY(-8%);
}

.p4:hover {
  transform: translateY(-8%);
}

.item{
  transition: all 0.5s ease;

}
.item:hover{
  transform: scale(105%);
  background-color: var(--accent);
  color: var(--void);
  z-index: 5;
}


.dropdown-item:hover{
  background-color: var(--accent);
  color: var(--void);
}

.dropdown-item:active{
  background-color: var(--ash);
  color: var(--void);
}