@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Fredoka:wght@300..700&family=Orbitron:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Dots&display=swap');
:root{
    --void:#212121;
    --dust:#414141;
    --ash:#eeeeee;
    --accent:#ffc107;
}
.main-text-font{
  font-family: "Fredoka", sans-serif;
}

.bg-void{
    background-color: #212121;
}
.bg-dust{
    background-color: #414141;
}
.bg-ash{
    background-color: #eeeeee;
}


.text-void{
    color: #212121;
}
.text-dust{
    color: #414141;
}
.text-ash{
    color: #eeeeee;
}


.p1 {
  transform: scale(1); 
  transition: transform 0.5s ease;
}

.p1:hover {
  transform: scale(1.1); 
  z-index: 5;
}
.p2 {
  transform: scale(1); 
  transition: transform 0.5s ease;
}

.p2:hover {
  transform: scale(1.1); 
   z-index: 5;
}
.p3 {
  transform: scale(1); 
  transition: transform 0.5s ease;
}

.p3:hover {
  transform: scale(1.1); 
   z-index: 5;
}
.p4 {
  transform: scale(1); 
  transition: transform 0.5s ease;
}

.p4:hover {
  transform: scale(1.1); 
   z-index: 5;
}